{% extends 'base.html' %}
{% block title %}main{% endblock %}
{% block content %}
<form class="nav-bar search">
  <input type="text" class="search-query" placeholder="과목명, 교수명으로 검색">
</form>
<div class="section">
  
  <select class="semester-choice">
    <option>2019-1</option>
    <option>2018-2</option>
    <option>2018-1</option>
  </select>

  <!--{{ my_lectures }}-->
  <div class="mylectures">
    <span class="lecture">
      <h3> 내가 들은 과목 </h3>
        <ul class="list-group list-group-flush">
          {% for list in mylecture_list %}
          <li class="list-group-item">
            <span class="name">{{ list.lecturename }}</span>
            <span class="professor">{{ list.professor }}</span>
            <button type="button" class="btn btn-sm" disabled="disabled">평가 완료</button>
          </li>
          {% endfor %}
        </ul>
    </span>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">강의평가 하기</h4>
        </div>
        <div class="modal-body">
          <dl>
            <dt>강의 퀄리티</dt>
            <dd>
              <div class="btn-group" role="group" aria-label="quality group">
                <button type="button" class="btn btn-sm btn-default">1점</button>
                <button type="button" class="btn btn-sm btn-default">2점</button>
                <button type="button" class="btn btn-sm btn-default">3점</button>
                <button type="button" class="btn btn-sm btn-default">4점</button>
                <button type="button" class="btn btn-sm btn-default">5점</button>
              </div>
            </dd>
            <dt>과목 난이도</dt>
            <dd>
              <div class="btn-group" role="group" aria-label="level group">
                <button type="button" class="btn btn-sm btn-default">1점</button>
                <button type="button" class="btn btn-sm btn-default">2점</button>
                <button type="button" class="btn btn-sm btn-default">3점</button>
                <button type="button" class="btn btn-sm btn-default">4점</button>
                <button type="button" class="btn btn-sm btn-default">5점</button>
              </div>
            </dd>
            <dt>수강학기</dt>
            <dd>2019-2학기</dd>
          </dl>
          <textarea name="text" class="text" placeholder="강의평을 남겨주세요."></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">평가완료</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <h2>최근 강의평</h2>
  <div class="articles">
    <a class="article" href="#"> <!--해당 과목의 detail url로 연결-->
      <h3>청소년복지 : 정소연</h3>
      <p class="rate">
        <span class="quality-star">
          <span class="on" style="width: 100%;"><!--별점별로 이미지 넣는 함수삽입--></span>
        </span>
        <span class="level-star">
          <span class="on" style="width: 100%;"></span>
        </span>
      </p>
      <p class="info">
        <span class="semester">19년 2학기 수강자</span>
      </p>
      <p class="text">교수님이 좋아요</p>
    </a>
  </div>
</div>
{% endblock %}